* {
    margin: 0px;
    padding: 0px;
}

table {
    margin: 10px;
    border-collapse: collapse;

}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

h2 {
    color: green;
}

form label, input{

    width: 400px;
    display: block;
}