<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel ="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <div class = "container">
    <h2>Friends:</h2>
    <table>
        
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Friend Since</th>
            <th>Year</th>
        </tr>
        
        
        {% for friend in all_friend %}
            <tr>
                <td>{{ friend['name'] }}</td>
                <td>{{ friend['age'] }}</td>
                <td>{{ friend['friend_since'] }}</td>
                <td>{{ friend['year'] }}</td>
            </tr>
        {% endfor %}
     </table> 

    <h2> Add a Friend: </h2>
    <form action = "/add_user", method='POST'>
    <label for='name'>Name: <input type="text", name = "name", id="name"></label>
    <label for="age">Age:<input type="number", name = "age", id = "age"></label>
    <input type = "submit" value = "Add">
    </form>
    </div>
</body>
</html>